body {
	background-color: #444;
    background: url(/img/background_flot.png), url(/img/background.jpg);
}

.logo {
	text-align: center;
}

.vertical-offset-100 {
    padding-top: 300px;
}

.btn-submit {
	background-color: #00D4FF;
	color: #003083;
}

.right-btn-invisible {
	float: right;
	display: none;
}