/.gradle/
/.nb-gradle/
/rc2s-client/build/
/rc2s-client/lib/
/rc2s-client/modules/
/rc2s-ejb/build/
/rc2s-ejb/private/
/rc2s-dao/build/
/rc2s-application/build/
/rc2s-common/build/
/rc2s-daemon/build/
/rc2s-ear/build/
/rc2s-pluginmaker/build/