<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading logo">
					<img src="/img/logo.png" alt="Logo ENK" width="250" height="100" />
				</div>
				<div class="panel-body">
					<div class="checkbox">
						<label>Connexion :</label>
					</div>
					<form action="/" method="POST" >
						<fieldset>
							<div class="form-group">
								<input type="text" name="username" placeholder="UserName" required="required" class="form-control" autofocus="autofocus" id="username" />
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" required="required" class="form-control" id="passwd" />
							</div>
							<input type="submit" value="Login" class="btn btn-lg btn-block btn-submit" id="submit" />
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>