{{# error }}
	<div class="alert alert-danger alert-error" style="z-index: 1000; position: fixed; top: 35px; right: 20px; width: 15%;">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Erreur : </strong>{{{ error }}}
	</div>
{{/ error }}

{{# success }}
	<div class="alert alert-success" style="z-index: 1000; position: fixed; top: 35px; right: 20px; width: 15%;">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Success : </strong>{{{ success }}}
	</div>
{{/ success }}