<div class="cl-sidebar">
	<div class="cl-toggle"><i class="fa fa-bars"></i></div>
	<div class="cl-navblock">
		<div class="menu-space">
			<div class="content">
				<div class="side-user">
					<div class="info">
						<a href="#">Administrateur</a>
					</div>
				</div>
				<ul class="cl-vnavigation">
					<li class="active">
						<a href="/plugins" ><i class="fa fa-home"></i><span>Accueil</span></a>
					</li>
					<li>
						<a href="/plugins/add" ><i class="fa fa-question"></i><span>Ajouter un plugin</span></a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
</div>  